body {
    margin: 0;
    padding: 0;
    background-color:whitesmoke;
    background-size: cover;
    
}

.loginbox {
    width: 400px;
    height: 400px;
    background-color:white;
    color: rgb(0, 0, 0);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    border: blue;
}

h1 {
    margin: 0;
    padding: 30;
    text-align: center;
    font-size: 35px;
}

.loginbox p {
    margin:0 ;
    padding: 20;
    right:  50%;
    position: absolute  ;
    border: blue;
    

    
}

.loginbox input {
    width: 90%;
    margin-bottom: 20px;
    text-align: center;
    margin: 16;
    height: 10%;
    top: 16;
    background-color: rgb(207, 207, 207);
    
}

.forms1 p{
    margin:0 ;
    padding: 20;
    right:  50%;
    position: absolute  ;

}

.forms1 input {
    width: 90%;
    margin-bottom: 20px;
    text-align: center;
    margin: 16;
    height: 10%;
    top: 16;
    background-color: rgb(7, 7, 207);
    color: white;
}

#c01 {
    background-color: blue;
    color: white;
 
}


.icons {
    margin-top: -280px;
    margin-left: 44%;
    z-index: 100;
  }
  
  .button1{
    background-color: blue;
    color: white;
    border: cornflowerblue;
    width: 380px;
    margin: 10px;
    padding: 10px;
    border-radius:500px;
    height: 36px;
   }

.button2 {
    background-color: blue;
    color: white;
    border: cornflowerblue;
    width: 380px;
    margin: 10px;
    padding: 0px;
    border-radius:500px;
    height: 36px;
    text-align: center;

   }