.black-div {
    background-color: black;
    background-image: url(444.jpg) ;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    border-width: 0cm;
    

}
*{
    padding: 0;
    margin: 0;
}

.header-div {
    height: 280 ;
    display: flex;
  
}

ul {
    display: flex;
    list-style-type: none;
   

}


.image-div {
    position: absolute;
    left:5%;
    top: px;
    
}
.log{
    color: white;
    text-decoration: none;
    
}
.nav-list {
    position: absolute;
    left:70% ;
    top:28px ;
    
    
}

ul li {
    margin-left: 35px;
    color: white;
}

ul li:hover {
    background-color: gray;
}

.content-div h1 {
    color: white;
    text-align: center;
    padding-top: 82px;
    
}



.light-blue-div {
    background-color: lightblue;
    height: 600px;
    padding: 2em;
    
    


}

.light-blue-div h1 {
    text-align: center;
    padding-top: 50px;
    color: white;
    font-size: 39px;
}

.light-blue-div p {
    text-align: center;
    padding-top: 27px;
    color: white;
}

.team-div {
    display: flex;
    text-align: center;
    padding-top: 0px;
    padding-right: 200px;
    justify-content: space-evenly;  
    
}
.team-member {
    margin-left: 12%;
    margin-top: 4%;
    color: white;
    
}

.team-member:hover {
    background-color: rgb(0, 0, 0);
}

.gray-light-div {
    background-color:rgb(236, 229, 229) ;
    height: 500px;
    
}

.gray-light-div h2  {
    
    text-align: center;
    padding: 20px;
}



.gray-light-div h3  {
    text-align: center;
    padding: 0px;
    padding-top: 29px;
}

.actor {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}

.member {
    margin-left: 0;
    margin-top: 4%;
    width: 500px;
    height: 300px;
    
}

.team-member h5 {
    padding-top: 20px;
}

.member:hover {
    background-color: white;
}

.member h5 {
    padding-top: 18px;
}

.member h4 {
    color: rgb(175, 1, 1);
}

.icons {
    padding-top: 5%;
    
    
    
}












.message {
    background-color: rgb(25, 25, 150);
    width: 381px;
    height: 50px;
    
}

.text-div {
    padding-top: 1%;
    padding-left: 29.5%;
    width: 700px;
   
}

.button-blue {
    padding-top: 5%;
    text-align: center;
}

.button-blue button {
    width: 100px;
    height: 50px;
    background-color: lightblue;
}





.button-blue button:hover {
    background-color: aliceblue;
}

.butoon {
    width: 100px;
    height: 25px;
}

.text ul li:hover {
    background-color: none;
    color: lightblue;
}


@media only-screen-and (max-width: 375px) {
    .list {
        display: flex;  
        flex-direction: column;

    }
    .img{
        position: relative;
        left: 60%;
    }

}



